.login-content{
    background-color: #333;
    padding: 4em;
    border-radius: 20px;
    & .links{

    }
}
.login-form{
    & input{
        margin: 1em 0;
    }
    & label{
        align-self: flex-start;
    }
    & h1{
        margin-bottom: 1em;
        font-weight: 700;
    }
}
