@import url("main.scss");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");
body {
  background-color: #13161a;
}
.btn-download {
  border: none;
  border-radius: 100px;
  background: #41c6ff;
  font-weight: 600;
  transition: 0.5s;
  &:hover {
    box-shadow: 0px 0px 20px -10px #41c6ff;
    outline: 1px solid rgba(255, 255, 255, 0.436);
  }
}
.hd-link{
  width: 5%;
  transition: .6s;
  opacity: .4;
  &:hover{
    opacity: .8;
  }
}
.link{
    width: 5%;
    transition: .6s;
    opacity: .4;
    &:hover{
      opacity: 1;
    }
  }
header {
  background-color: #0d0f13;
  border-bottom: 2px solid #5396f3;
}
.profile-msg {
  background-color: #080a0e;
  padding: 1em;
  text-align: left;
  letter-spacing: 0.6px;
  font-size: 22px;
}
.emoji {
  font-family: "Noto Color Emoji", sans-serif;
}
.download-article {
  background-color: #080a0e;
  & h2 {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #52a7fd;
    &::after {
      content: "";
      flex-grow: 1;
      height: 2px;
      background: #52a7fd;
      margin-left: 15px;
    }
  }
  & .download-links{
    background-color: #222b367f;
    & p{
        font-weight: 700;
        font-size: 22px;
    }
  }
}
